select {
    border: none;
    background-color: hsl(0, 1%, 29%) ;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

select.LangDropDown {
    margin-right: 5px;
    margin-top: 0.2%;
}