body {
  padding: 0;
  margin: 0;
  background-color: #1e1e1e;
}

button.fileTab {
  width: auto;
  border: none;
  padding-bottom: 5px;
  margin-bottom: 0.5%;
  margin-top: 0.2%;
  margin-right: 0.2%;
  background-color: hsl(0, 1%, 29%);
  color: white;
  float: right;
  font-weight: bold;
  cursor: pointer;
};
